/*
ID   Classes, atributos e pseudo-classes    Elementos e pseudo-elementos
1    0                                      0
0    1                                      0
1    1                                      0
1    1                                      1

!important


especificidade
empate
style
!important ****
*/
#p {
    background: red;
}

#p.p {
    background: yellow;
}

body#b.bclass p#p.p {
    background: purple !important;
}

p {
    background: blue !important;
}