* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-conteiner {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: inherit;
    background: yellow;
    height: 640px;
}

.flex-item {
    width: 33.33%;
    color: #ffff;
    background: red;
}